{% extends "main/base.html" %}
{% load static %}
{% block title %}
    Корзина
{% endblock %}
{% block content %}
    <div id="cart">
        <h1>Корзина ещё в разработке <i class="bi bi-tools"></i></h1>
        <p>Для оформления заказа обращайтесь в удобный для вас мессенджер.</p>
        <a href="https://vk.com/googleshit" class="navigation"><i class="fa-brands fa-vk" style="color: #000000;"></i>Вконтакте</a>
        <a href="https://t.me/brra72" class="navigation"><i class="bi bi-telegram"></i>Telegram</a>
        <a href="https://wa.me/qr/A42PIS37A2USM1" class="navigation"><i class="bi bi-whatsapp"></i>WhatsApp</a>
    </div>
{% endblock %}