{% extends "main/base.html" %}
{% load static %}
{% block title %}
    Доставка
{% endblock %}
{% block content %}
    <table id="delivery">
        <tr>
            <td>Тип доставки</td>
            <td>Время доставки</td>
            <td>Зона доставки</td>
            <td>Стоимость доставки</td>
        </tr>
        <tr>
            <td>Стандарт</td>
            <td>До 6 часов</td>
            <td>1 зона</td>
            <td>200₽<br>(От 800₽ - бесплатно)</td>
        </tr>
        <tr>
            <td>Экспресс</td>
            <td>До 30 мин</td>
            <td>1 зона</td>
            <td>500₽<br>(От 2000₽ - бесплатно)</td>
        </tr>
        <tr>
            <td>Стандарт</td>
            <td>До 12 часов</td>
            <td>2 зона</td>
            <td>300₽<br>(От 1200₽ - бесплатно)</td>
        </tr>
        <tr>
            <td>Экспресс</td>
            <td>До 1 часа</td>
            <td>2 зона</td>
            <td>600₽<br>(От 2500₽ - бесплатно)</td>
        </tr>
        <tr>
            <td>Стандарт</td>
            <td>До 24 часов</td>
            <td>3 зона</td>
            <td>400₽<br>(От 1500₽ - бесплатно)</td>
        </tr>
        <tr>
            <td>Экспресс</td>
            <td>До 2 часов</td>
            <td>3 зона</td>
            <td>750₽<br>(От 3000₽ - бесплатно)</td>
        </tr>
    </table>

    <table id="delivery">
        <tr>
            <td>1 зона</td>
            <td>2 зона</td>
            <td>3 зона</td>
        </tr>
        <tr>
            <td>Уралмаш, Эльмаш, Сортировка, Ботаника, Автовокзал, Уктус, Вторчермет, Юго-западный, ВИЗ, Академический, Центр</td>
            <td>ЖБИ, Синие камни, Втузгородок, Мкр. Светлый, Елизавет</td>
            <td>Верхняя Пышма, Среднеуральск, Кольцово, Химмаш, Компрессорный</td>
        </tr>
    </table>
{% endblock %}