{% extends "main/base.html" %}
{% load static %}
{% block title %}
    Your Drop
{% endblock %}
{% block content %}
    <div class="octa">
        <img src="{% static 'main/img/nabor_s_cvetami_i_shokoladom_assorti_kvadrat_2.png' %}">
        <img src="{% static 'main/img/png-clipart-natural-skin-care-dermatitis-food-gift-baskets-bathing-beauty.png' %}">
        <img src="{% static 'main/img/buketsuh.png' %}">
        <img src="{% static 'main/img/images.png' %}">
        <img src="{% static 'main/img/b_0_900_16777215_1_0_images_stories_nabory_ny-2020-premium-07.png' %}">
        <img src="{% static 'main/img/images (1).png' %}">
    </div>
    <div class="description">
        <p>
            Уникальные подарочные наборы для каждого повода!<br><br> Радуйте близких оригинальным подарком – цветочные композиции, наборы сухоцветов и многое другое. Наши уникальные наборы покорят сердца, создавая незабываемые впечатления. Качественные материалы, креативный дизайн и заботливая упаковка сделают ваш подарок по-настоящему особенным. Ищете подарок для любимого человека или коллеги? У нас вы найдете идеальное решение! Порадуйте себя и своих близких стильным и запоминающимся подарком.<br> Закажите прямо сейчас и доставьте радость своим близким вместе с нами!
        </p>
    </div>
{% endblock %}