{% extends "main/base.html" %}
{% load static %}
{% block title %}
    Инфо
{% endblock %}
{% block content %}
<div id="info">
    <p>
    Your Drop - это онлайн-магазин, специализирующийся на продаже уникальных подарочных наборов для любых случаев и праздников. На нашем сайте вы найдете широкий выбор подарков, включая сухоцветы, цветы, сладости и другие оригинальные подарочные наборы, которые станут прекрасным и незабываемым подарком для близких и друзей.

    <br>Мы тщательно отбираем качественные и стильные товары, чтобы удовлетворить запросы самых взыскательных клиентов. Наш ассортимент включает в себя подарочные наборы для различных праздников - от Дня Рождения до Нового Года, а также для различных тематических событий и праздников.

    <br>С помощью Your Drop вы сможете легко и быстро подобрать подарок для любого человека и любого случая, не выходя из дома. Мы гарантируем высокое качество товаров, оперативную доставку и отличный сервис для всех наших клиентов.

    <br>Не упустите шанс сделать особенными все важные моменты в жизни ваших близких и друзей с помощью подарочных наборов от Your Drop.
    </p>
</div>
{% endblock %}